div{
    margin: 0px;
    padding: 0px !important;
    color: black;
 }
 
 .Container{
     display: flex;
     flex-wrap: wrap;
 
 }
 .box{
     flex: 1;
     
 }
 
 
 
 @media screen and (max-width:495px){
     .Container{
         flex-direction: row ;
     }
    .box{
     flex:none;
     width: 100% ;
     
    }
 }
 .navLink {
     color: black;
   }
   .navLink:active {
     color: #ea8f5a !important;
   }
  
   button:active {
    background-color: #ea8f5a;
    transform: scale(0.95);
  }